#conteneur{
    border: solid 1px black;
    display: flex;
    justify-content: space-around;
}

.element{
    height: 100px;
    width: 200px; 
    margin: 0;
}

#elem1{
    background-color: orange;
}

#elem2{
    background-color: blue;
}

#elem3{
    background-color: greenyellow;
}