#conteneur{
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    align-content: space-between;
    height: 400px;
}

.element{
    height: 100px;
    width: 200px; 
    margin: 0;
}

.a{
    background-color: orange;
    order: 3;
}

.b{
    background-color: blue;
    order: 2;
    flex: 1;
}

.c{
    background-color: greenyellow;
    order: 1;
}